
::selection { background: #E7983C; color: #fff; text-shadow: none; }

/* Links */
a {
  color: #E7983C;
  text-decoration: none;
  transition: all .15s ease-in-out;
}
a:hover,
a:focus { color: #CA7718; }

/* Buttons - restyling Bootstrap buttons with only simple CSS, no CSS variables (custom properties) */
.btn.azm-btn-primary { background-color: #E7983C; border-color: #E7983C; }

.btn.azm-btn-primary:hover { background-color: #CA7718; border-color: #CA7718; }
.btn.azm-btn-primary:active { background-color: #CA7718; border-color: #CA7718; }
.btn.azm-btn-primary:focus { background-color: #CA7718; border-color: #CA7718; color: #fff; }
.btn.azm-btn-primary:active:focus { background-color: #CA7718; border-color: #CA7718; color: #fff; }

.btn.azm-btn-primary:focus-visible {
  background-color: #CA7718;
  border-color: #CA7718;
  box-shadow: 0 0 0 0.25rem rgba(231, 152, 60, .5);
}

.btn.azm-btn-outline-light:focus { color: #f8f9fa; }

.btn.azm-btn-outline-light:hover,
.btn.azm-btn-outline-light:active,
.btn.azm-btn-outline-light:active:focus,
.btn.azm-btn-outline-light:focus-visible { color: #3d3d3d; }

.btn-close:focus { box-shadow: 0 0 0 0.25rem rgba(231, 152, 60, .5); }


/* Custom utility classes */



.azm-divider { width: 200px; border-bottom: 3px dashed #ddd; }

.azm-color-444 { color: #444; }
.azm-color-666 { color: #666; }
.azm-color-888 { color: #888; }
.azm-color-E7983C { color: #E7983C; }
.azm-color-ccc { color: #ccc; }
.azm-grey { color: #aaa; }

.azm-font-size-1-15 { font-size: 1.15rem; }

.azm-line-height-2-5 { line-height: 2.5rem; }

.azm-border-dashed { border-bottom: 1px dashed; }

.azm-grey-background { background-color: #f8f8f8; }
.azm-background-3d3d3d { background-color: #3d3d3d; }
.azm-background-444 { background-color: #444; }
.azm-background-E7983C { background-color: #E7983C; }

.azm-list-style-none { list-style: none; }


/* Navbar */
.navbar.bg-dark.azm-navbar {
  background-color: #3d3d3d !important;
  transition: all .6s ease-in-out;
}

.navbar.bg-dark.azm-navbar.azm-navbar-transparency { background-color: rgba(51, 51, 51, .4) !important; }

.navbar.bg-dark.azm-navbar .dropdown-menu { background-color: #3d3d3d; }

 .navbar-brand {
	width: 109px;
	height: 46px;
	background-image: url(page/assets/logo.png) left top no-repeat;
	text-indent: -99999px;
}

.azm-navbar .navbar-nav .nav-link {
  font-size: 1.15rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.azm-navbar .dropdown-menu { box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }


/* Header */
#header {
  background-image: linear-gradient(to right, #2120209c 60%,#412d2d49)
  ,url(page/assets/home_bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header h1 { text-shadow: 0 1px 6px rgb(51 51 51 / 75%); }
#header p { text-shadow: 0 1px 5px rgb(51 51 51 / 75%); }

#header .carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}


/* Main Features */
#features .icon { font-size: 4rem; color: #E7983C; }
#features .icon-darker { color: #CA7718; }

#features .icon i { transition: all .15s ease-in-out; }
#features .icon i:hover { text-shadow: 0 0.5rem 1rem rgb(51 51 51 / 30%); }

#features .azm-border-dashed { border-color: #aaa; }

#features img { transition: all .15s ease-in-out; }

#features img:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3) !important;
}


/* More Features */
#more-features .icon2 { font-size: 3rem; }


/* Cloud features */
#cloud-features img { transition: all .15s ease-in-out; }

#cloud-features img:hover { transform: translateY(-0.2rem); }

.cloud-features-icon { font-size: 5rem; color: #E7983C; }

.cloud-features-icon i { transition: all .15s ease-in-out; }
.cloud-features-icon i:hover { text-shadow: 0 0.5rem 1rem rgb(51 51 51 / 30%); }


/* How it works */
#how-it-works h3 i { color: #E7983C; }



/* Prices */
#prices .table th {
  border-bottom: 1px dashed #eee;
}
#prices .table.best-value th { border: 0; }

#prices .table { transition: all .15s ease-in-out; }

#prices .table:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3) !important;
}

.best-value-icon {
  font-size: 5rem;
}


/* Testimonials */
#testimonials {
  background-image: url(assets/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#testimonials .tab-pane a {
  color: #fff;
  border-bottom: 1px dashed #fff;
  border-color: rgba(255, 255, 255, .75);
}

#testimonials .tab-pane a:hover,
#testimonials .tab-pane a:focus { border: 0; }

#testimonials .nav-pills .nav-item a { opacity: 0.6; width: 80px; }

#testimonials .nav-pills .nav-item a.active { opacity: 1; }

#testimonials .nav-pills .nav-item a:hover,
#testimonials .nav-pills .nav-item a:focus { opacity: 1; }

#testimonials .nav-pills .nav-item a img { transition: all .15s ease-in-out; }

#testimonials .nav-pills .nav-item a.active img,
#testimonials .nav-pills .nav-item a:hover img,
#testimonials .nav-pills .nav-item a:focus img {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3) !important;
}


/* Contact */
.contact-visit i { vertical-align: middle; }

.contact-social a:hover,
.contact-social a:focus { outline: 0; color: #fff; }

.contact-social a i { transition: all .15s ease-in-out; vertical-align: middle; }

.contact-social a:hover i,
.contact-social a:focus i { color: #fff; }

.contact-description p { border: 5px solid #4d4d4d; }

.form-control,
.form-control:focus {
  background-color: #444;
  border-color: #888;
  color: #fff;
}

.form-control:focus {
  border-color: #E7983C;
  box-shadow: 0 0 0 0.25rem rgba(231, 152, 60, .5);
}

.form-control::placeholder { color: #888; }


/* Footer */
footer a.azm-border-dashed:hover,
footer a.azm-border-dashed:focus { outline: 0; color: #fff; }

.to-top a:hover,
.to-top a:focus { outline: 0; color: #fff; }



/* Media queries */

@media (min-width: 992px) and (max-width: 1199px) {
  
  .cloud-features-icon { font-size: 3.7rem; }
  	
}

@media (max-width: 991px) {
	
  .navbar.bg-dark.azm-navbar.azm-navbar-transparency { background-color: #3d3d3d !important; }
  
}

/* Retina-ize images/icons */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
  /* logo */
  .azm-navbar .navbar-brand {
    background-image: url(assets/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 109px 45px !important;
  }
	
}
